게시물 리스트
<style>
    .table-1 {
        border-collapse: collapse;
    }
 .table-1 th, .table-1 td {
        border: 1px solid black;
        padding: 10px;
    }
</style>

<div>
    <table class="table-1">
        <thead>
        <tr>
            <th>id</th>
            <th>createdDate</th>
            <th>updatedDate</th>
            <th>title</th>
            <th>body</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${itemsPage.content}">
            <td th:text="${article.id}"></td>
            <td th:text="${article.createDate}"></td>
            <td th:text="${article.modifyDate}"></td>
            <td>
                <span th:text="${article.title}"></span>
                <span th:text="${article.tagsStr}"></span>
            </td>
            <td th:text="${article.body}"></td>
        </tr>
        </tbody>
    </table>
</div>

<hr>
<div>
    <a href="?page=0">0</a>
    <a href="?page=1">1</a>
    <a href="?page=2">2</a>
    <a href="?page=3">3</a>
    <a href="?page=4">4</a>
</div>
<hr>

<div>
    <h1>itemsPage.content</h1>
    [[${itemsPage.content}]]
    <h1>itemsPage.number</h1>
    [[${itemsPage.number}]]
    <h1>itemsPage.totalPages</h1>
    [[${itemsPage.totalPages}]]
    <h1>itemsPage.totalElements</h1>
    [[${itemsPage.totalElements}]]
    <h1>itemsPage.size</h1>
    [[${itemsPage.size}]]
    <h1>itemsPage.numberOfElements</h1>
    [[${itemsPage.numberOfElements}]]
    <h1>itemsPage.first</h1>
    [[${itemsPage.first}]]
    <h1>itemsPage.last</h1>
    [[${itemsPage.last}]]
</div>


