게시물 리스트
<style>
    .table-1 {
        border-collapse: collapse;
    }
 .table-1 th, .table-1 td {
        border: 1px solid black;
        padding: 10px;
    }
</style>

<script>
    function submitSearchForm(form) {
        const kwTypeCheckboxes = form.querySelectorAll("input[name='kwType']");
        const isChecked = Array.from(kwTypeCheckboxes).some(checkbox => checkbox.checked);
        if (!isChecked) {
            alert("최소한 하나의 검색 유형을 선택해 주세요");
            if (kwTypeCheckboxes.length > 0) {
                kwTypeCheckboxes[0].focus();
            }
            return;
        }
        form.submit();
    }
</script>
<form onsubmit="submitSearchForm(this); return false;">
    <div style="display:flex; gap:10px;">
        <label><input type="checkbox" name="kwType" value="authorUsername" th:checked="${kwTypesMap['authorUsername']}"><span>작성자</span></label>
        <label><input type="checkbox" name="kwType" value="title" th:checked="${kwTypesMap['title']}"><span>제목</span></label>
        <label><input type="checkbox" name="kwType" value="body" th:checked="${kwTypesMap['body']}"><span>내용</span></label>
        <label><input type="checkbox" name="kwType" value="tagContent" th:checked="${kwTypesMap['tagContent']}"><span>태그</span></label>
        <label><input type="checkbox" name="kwType" value="commentAuthorUsername" th:checked="${kwTypesMap['commentAuthorUsername']}"><span>댓글 작성자</span></label>
        <label><input type="checkbox" name="kwType" value="commentBody" th:checked="${kwTypesMap['commentBody']}"><span>댓글 내용</span></label></div>
    <input type="search" name="kw" placeholder="검색어" th:value="${param.kw}">
    <input type="submit" value="검색">
</form>

<div>
    <table class="table-1">
        <thead>
        <tr>
            <th>id</th>
            <th>createdDate</th>
            <th>updatedDate</th>
            <th>title</th>
            <th>body</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${itemsPage.content}">
            <td th:text="${article.id}"></td>
            <td th:text="${article.createDate}"></td>
            <td th:text="${article.modifyDate}"></td>
            <td>
                <span th:text="${article.title}"></span>
                <span th:text="${article.tagsStr}"></span>
            </td>
            <td th:text="${article.body}"></td>
        </tr>
        </tbody>
    </table>
</div>

<hr>
<div th:if="${itemsPage.totalPages > 0}" style="display: flex; gap: 10px;">
    <a th:each="num : ${#numbers.sequence(1, itemsPage.totalPages)}" th:href="|?page=${num}|" th:text="${num}"></a></div>
<hr>

<div>
    <h1>itemsPage.content</h1>
    [[${itemsPage.content}]]
    <h1>itemsPage.number</h1>
    [[${itemsPage.number}]]
    <h1>itemsPage.totalPages</h1>
    [[${itemsPage.totalPages}]]
    <h1>itemsPage.totalElements</h1>
    [[${itemsPage.totalElements}]]
    <h1>itemsPage.size</h1>
    [[${itemsPage.size}]]
    <h1>itemsPage.numberOfElements</h1>
    [[${itemsPage.numberOfElements}]]
    <h1>itemsPage.first</h1>
    [[${itemsPage.first}]]
    <h1>itemsPage.last</h1>
    [[${itemsPage.last}]]
</div>


